html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.none {
  display: block;
}

@media (min-width: 768px) {
  .none {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.barra {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #1c3643e0), color-stop(25%, #273b47c9), to(#1e5372));
  background: linear-gradient(90deg, #1c3643e0 0, #273b47c9 25%, #1e5372);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.barra .flex {
  padding: 1rem;
}

.barra .logo {
  background: orange;
  border-radius: 1rem 0;
  padding: 1rem;
  box-shadow: -1px 1px 3px 1px grey;
}

.barra .logo a {
  text-decoration: none;
  color: #000;
}

.barra .logo .orange {
  color: #fff;
}

.barra .logo .yellow {
  border-radius: 1rem 0 1rem 0;
  padding: 0.5rem;
}

.barra .navegacio {
  align-self: center;
  display: none;
}

@media (min-width: 768px) {
  .barra .navegacio {
    display: block;
  }
}

.barra .navegacio a {
  margin-right: 1rem;
  background: orange;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: -1px 1px 1px 1px #ffffff;
}

.barra .navegacio a:hover {
  color: #fff;
  box-shadow: -1px 1px 3px 1px #0c5494;
}

.barra .navegacio:last-child {
  margin: 0;
}

/*menu movil*/

.button {
  background: none;
  border: none;
}

.button div {
  width: 30px;
  height: 5px;
  background: black;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .button {
    display: none;
  }
}

.main .menu-main {
  width: 90%;
  background: #f88f06;
  height: 100vh;
  margin-left: -100%;
}

@media (min-width: 768px) {
  .main .menu-main {
    width: 20%;
    background: #f88f06;
    height: 100vh;
    margin-left: 0%;
  }
}

.main .menu-main ul {
  list-style: none;
}

.main .menu-main ul li {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #ffffff8f;
}

.main .menu-main ul li a {
  color: #fff;
}

.main .menu-main ul li a:hover {
  color: #000;
}

.main .menu-main ul::last-child {
  border-bottom: none;
}

.main .secction {
  padding: 0 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 446px) {
  .main .secction {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 776px) {
  .main .secction {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .main .secction {
    grid-template-columns: repeat(4, 1fr);
  }
}

.fixd {
  position: fixed;
  margin-left: 0% !important;
}

.seccion-productos {
  border: 1px solid red;
  margin-top: 3rem;
  width: 100%;
}

.seccion-productos legend {
  border: 1px solid gray;
  background: orange;
  padding: 0.5rem 1rem;
  color: #fff;
}

.seccion-productos ul {
  list-style: none;
  margin: 1rem;
}

.seccion-productos ul li {
  padding: 0.5rem 0;
}

.seccion-productos ul li img {
  width: 100px;
  height: 150px;
  background: red;
}

