.barra{
    background: linear-gradient(90deg, #1c3643e0 0, #273b47c9 25%, #1e5372);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    .flex{
        padding: 1rem;
    }

    .logo{
        background: orange;
        border-radius: 1rem 0;
        padding: 1rem ;
        box-shadow: -1px 1px 3px 1px grey;

        a{
            text-decoration: none;
            color: $blak;
        }

        .orange{
            color: $white;
        }
       
        .yellow{
            border-radius: 1rem 0 1rem 0;
            padding: .5rem ;
            
        }
    }

    .navegacio{
        align-self:center;

        a{
            margin-right: 1rem;
            background: orange;
            padding: 1rem;
            border-radius: .3rem;
            box-shadow: -1px 1px 1px 1px #ffffff;

            &:hover{
                color: $white;
                box-shadow: -1px 1px 3px 1px #0c5494;
            }

        }

        &:last-child{
               margin: 0;
            }
    }

}