.main{
    .menu-main{
        width: 90%;
        background: #f88f06;
        margin-left: -100%;
        transition: .5s;
        
        
        @media (min-width: 768px) {
            width: 20%;
            margin-left: 0%;
            
        }
        
        
        
        ul{
            list-style: none;
            
            li{
                padding: 1rem 0;
                text-align: center;
                border-bottom: 1px solid #ffffff8f;
                
                a{
                    color: $white;
                    
                    &:hover{
                        color: $blak;
                    }
                } 
            }
            
            &::last-child{
                border-bottom: none;
            }
        }
    }
    
    .secction{
        padding: 0 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-bottom: 2rem;
        
        @media (min-width: 446px) {
            grid-template-columns: repeat(2,1fr);
            
        }
        
        @media (min-width: 776px) {
            grid-template-columns: repeat(3,1fr);
            
        }
        
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4,1fr);
            
        }
    }
}


.fixd{
    position: fixed;
    height: 100vh;
    margin-left: 0% !important;
}