.main{
    .menu-main{
        flex: 0 0 calc(20% - 1rem);
        background: $orange;
        height: 100vh;
       

        ul{
            list-style: none;

            li{
                padding: 1rem 0;
                text-align: center;
                border-bottom: 1px solid #ffffff8f;
                
                a{
                    color: $white;
                    
                    &:hover{
                        color: $blak;
                    }
                } 
            }

            &::last-child{
                border-bottom: none;
            }
        }
    }

    .secction{
        padding: 0 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        
    }
}